.navbar{
  color: black;
  

background-color: antiquewhite ;
}
.logoletter{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-size: xx-large;
  font-weight: bold;
  background-color: red;

}
.logo{
  display: flex;
}
.logo p {
  padding-top: 13px;
  font-size: x-large;
 
}
.logoletter h1{
  font-weight: bolder;
  padding-left: 10px;
  
}
.links ul{
  padding-left: 200px;
  display: flex;
  justify-content: space-around;
}
.links ul{
  list-style: none;
  margin-left: 10rem;
  
}
.links ul li a {
  color: black;
  font-weight: bold;
}
.links ul li a:hover{
   color: red;
}

.landingpage{
  background-image: url("./images/background3.jpeg");

  background-size: cover;
  color: white;
  height: 600px;
}
 .intro{
   background-color: black;
   opacity: 0.8;
   border-radius: 25px;
   height: 200px;
   width: 400px;
   padding-top: 2rem;
   margin-left: 21rem;
   margin-top: 10rem;
   text-align: center;
 }
 .intro h1 {
   font-weight: bolder;
 }

 .about{
   margin-top: 1rem;
   color: white;
   display: flex;
   justify-content: space-between;
   justify-content: space-around;
   background-color: antiquewhite;
   padding: 3rem;
 }
 .heading h1 {
  font-weight: bolder;
  text-decoration: underline;
 }

 .aboutsec{
   height: 800px;
   background-color: black;
   opacity: 0.7;
   border-radius: 25px;
   font-size: large;
 }
 .aboutsec h2 {
   text-decoration: underline;
   font-weight: bolder;
   padding: 1rem;
   text-align: center;
 }
.buttonstyle{
  color: white;
  font-weight: bolder;
  background-color: maroon;
  height: 50px;
  width: 200px;
  border-radius: 25px;
}
.introduction{
  height: 700px;
  background-color: antiquewhite;
  padding-top: 1rem;
}

.introduction h1{
  text-align: center;
}
.introduction p{
font-size: large;
}