@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
.cart-button{
  border: none;
}
#logo1{
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  
}
#logo2{
  font-family: 'Lobster', cursive;
  font-size: xx-large;
}
.navbar li a{
  color: white;
}
.navbar a{
  color: white;
}
.btn-success a{
  color: white;
  text-decoration: none;
}


.landingpage{
  background-image: url("./images/background3.jpeg");
  background-size: cover;
  color: white;
  height: 600px;
}
 .intro{
   background-color: black;
   opacity: 0.8;
   border-radius: 25px;
   height: 200px;
   width: 400px;
   margin: auto;
   margin-top: 10rem; 
   text-align: center;
 }
 .intro h1 {
   font-weight: bolder;
   text-align: center;
 }

 .about{
   margin-top: 1rem;
   color: white;
   background-color: antiquewhite;
 }
 .heading h1 {
  font-weight: bolder;
  text-decoration: underline;
 }

 .aboutsec{
   width: 600px;
   height: 800px;
   background-color: black;
   opacity: 0.7;
   border-radius: 25px;
   font-size: large;
 }
 .aboutsec h2 {
   text-decoration: underline;
   font-weight: bolder;
   padding: 1rem;
   text-align: center;
 }
.buttonstyle{
  color: black;
  font-weight: bolder;
  background-color: white;
  height: 50px;
  width: 200px;
  border-radius: 25px;
}
.introduction{
  height: 600px;
  background-color: antiquewhite;
  margin-top: 1rem;
  text-align: center;
}

.introduction h1{
  color: black;
  
  text-decoration: underline;
}
.introduction p{
font-size: large;
}
.form{

  background-color: black;
  color: white;
  opacity: 0.7;
  border-radius: 25px;
  padding: 1rem;
  font-size: x-large;
  margin: auto;
}